<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Logovanje</servlet-name>
        <servlet-class>paketServleti.Logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>paketServleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinke</servlet-name>
        <servlet-class>paketServleti.PromenaLozinke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DobrodosliServlet</servlet-name>
        <servlet-class>paketServleti.DobrodosliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Azuriranje</servlet-name>
        <servlet-class>paketServleti.Azuriranje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProizvoda</servlet-name>
        <servlet-class>paketServleti.ListaProizvoda</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ListaProizvodaZaAzuriranje</servlet-name>
        <servlet-class>paketServleti.ListaProizvodaZaAzuriranje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeProizvoda</servlet-name>
        <servlet-class>paketServleti.DodavanjeProizvoda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProizvodaZaBrisanje</servlet-name>
        <servlet-class>paketServleti.ListaProizvodaZaBrisanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbacivanjeUKorpu</servlet-name>
        <servlet-class>paketServleti.UbacivanjeUKorpu</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>IzvrsavanjeIzmeneProfila</servlet-name>
        <servlet-class>paketServleti.IzvrsavanjeIzmeneProfila</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaProfila</servlet-name>
        <servlet-class>paketServleti.IzmenaProfila</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>BrisanjeProizvoda</servlet-name>
        <servlet-class>paketServleti.BrisanjeProizvoda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotrosackaKorpa</servlet-name>
        <servlet-class>paketServleti.PotrosackaKorpa</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>LogOff</servlet-name>
        <servlet-class>paketServleti.LogOff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Narucivanje</servlet-name>
        <servlet-class>paketServleti.Narucivanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeProizvodaIzKorpe</servlet-name>
        <servlet-class>paketServleti.BrisanjeProizvodaIzKorpe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaruceneKorpe</servlet-name>
        <servlet-class>paketServleti.NaruceneKorpe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaProizvoda</servlet-name>
        <servlet-class>paketServleti.PretragaProizvoda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKorpi</servlet-name>
        <servlet-class>paketServleti.ListaKorpi</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ListaProizvodaPKorpeZaBrisanje</servlet-name>
        <servlet-class>paketServleti.ListaProizvodaPKorpeZaBrisanje</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logovanje</servlet-name>
        <url-pattern>/Logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinke</servlet-name>
        <url-pattern>/PromenaLozinke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DobrodosliServlet</servlet-name>
        <url-pattern>/DobrodosliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Azuriranje</servlet-name>
        <url-pattern>/Azuriranje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProizvoda</servlet-name>
        <url-pattern>/ListaProizvoda</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>DodavanjeProizvoda</servlet-name>
        <url-pattern>/DodavanjeProizvoda</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ListaProizvodaZaAzuriranje</servlet-name>
        <url-pattern>/ListaProizvodaZaAzuriranje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProizvodaZaBrisanje</servlet-name>
        <url-pattern>/ListaProizvodaZaBrisanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbacivanjeUKorpu</servlet-name>
        <url-pattern>/UbacivanjeUKorpu</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>IzvrsavanjeIzmeneProfila</servlet-name>
        <url-pattern>/IzvrsavanjeIzmeneProfila</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>IzmenaProfila</servlet-name>
        <url-pattern>/IzmenaProfila</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>BrisanjeProizvoda</servlet-name>
        <url-pattern>/BrisanjeProizvoda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotrosackaKorpa</servlet-name>
        <url-pattern>/PotrosackaKorpa</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>LogOff</servlet-name>
        <url-pattern>/LogOff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Narucivanje</servlet-name>
        <url-pattern>/Narucivanje</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>BrisanjeProizvodaIzKorpe</servlet-name>
        <url-pattern>/BrisanjeProizvodaIzKorpe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaruceneKorpe</servlet-name>
        <url-pattern>/NaruceneKorpe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaProizvoda</servlet-name>
        <url-pattern>/PretragaProizvoda</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ListaKorpi</servlet-name>
        <url-pattern>/ListaKorpi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProizvodaPKorpeZaBrisanje</servlet-name>
        <url-pattern>/ListaProizvodaPKorpeZaBrisanje</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Logovanje.html</welcome-file>
        </welcome-file-list>
    </web-app>
